*{
    margin: 0;
}

body {
    background-color: #eceef1;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    height: 2.8em;
    padding: 0.8em 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-div {
    padding: 0.5em;
    font-size: smaller;
    color: rgb(69, 69, 69)
}


.icon-button, .submit {
    padding: 0.5em 0.8em;
    background-color: #0077c5;
    border-radius: 3px;
}

.header-div a {
    color: #0077C5;
}

.icon-button {
    border: solid grey 1px;
}

.icon-button a, .submit a {
    color: white;
}

.submit a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.icon-button a, .header-div a{
    text-decoration: none;
}

.footer {
    text-align: center;
    position: relative;
    bottom: 2em;
    width: 100%;
}

.footer-links {
    text-decoration: none;
    color: #505050;
}

.footer-links:hover {
    text-decoration: underline;
}

.footer p {
    color: #505050;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50em;
}

.form-content {
    width: 19.875em;
    height: 38.5em;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: lightgray solid 1px;
}

.form-title {
    text-align: center;
    color: rgb(69, 69, 69)
}

.form-title h2 {
    padding: 0.8em 0;
    font-size: 1.5em;
    font-weight: lighter;
}

.form-title p {
    font-size: smaller;
}

.form-title a {
    text-decoration: none;
    color: #0077C5;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.4em;
}

.containner input {
    border: solid lightgray 1px;
}

.containner {
    padding: 1em;
}

.terms {
    padding: 1em;
}
