*{
    margin: 0;
}

.header {
    height: 2.8em;
    padding: 0.8em 2em;
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-div {
    padding: 0.5em;
    border: red solid 1px;
}


.icon-button {
    padding: 0.5em;
    border: red solid 1px;
}

.icon-button a, .header-div a{
    text-decoration: none;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 2em;
}

.footer-links {
    text-decoration: none;
    color: #505050;
}

.footer-links:hover {
    text-decoration: underline;
}

.footer p {
    color: #505050;
}

.form {
    width: 100px;
}

